<div ng-include src="'partials/main_menu.html'"></div>
<div class="container">
	<h1>Edit</h1>
	<form ng-submit="editUser()">
		<div class="form-group">
			<label for="username" class="form-label">Username</label>
			<input type="text" name="username" class="form-control" ng-model="username" placeholder="Username" required>
		</div>

		<div class="form-group">
			<label for="email" class="form-label">Email</label>
			<input type="text" name="email" class="form-control" ng-model="email" placeholder="Email" required>
		</div>

		<div class="form-group">
			<a class="btn btn-danger btn-edit" href="#!/">Back</a>
			<button id="btn-edit" type="submit" class="btn btn-success btn-edit">Edit</button>
		</div>
	</form>
</div>