<div>
	<div class="alert alert-success alert-dismissible" role="alert" ng-show="loginComplete">
	  Login Complete
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="loginError">
	  User or Password Incorrect. Try Again
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div id="login-cart-div">
	    <form ng-submit="login()">
	    	<div class="login-input">
				<label for="email">Email</label>
				<input type="text" name="email" ng-model="email">
			</div>
			<div class="login-input">
				<label for="password">Password</label>
				<input type="password" name="password" ng-model="password">
			</div>
			<button id="btn-login" class="btn btn-primary" type="submit" ng-click="login">Login</button>
		</form>
	</div>
</div>